<header class="dashboard-header">
    <div class="header-left">
      <button id="sidebarToggle" class="sidebar-toggle">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <h2 id="pageTitle">Dashboard</h2>
    </div>
    
    <div class="header-right">
      <div class="firm-selector">
        <button id="firmSelector" class="firm-select-btn">Select Firm</button>
      </div>
      
      <div class="user-menu">
        <button id="userMenuBtn" class="user-menu-btn">
          <span id="userInitials">UN</span>
        </button>
        <div class="user-dropdown" id="userDropdown">
          <ul>
            <li id="userFullName">User Name</li>
            <li><a href="#" id="profileLink">Profile</a></li>
            <li><a href="#" id="logoutBtn">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>